body{
    margin: 0;
    background-color: rgba(241, 241, 241, 0.911);
}

nav{
    background-color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
    position: fixed top;  
  
}

nav p{
    display: inline-block;  
    margin-left:  400px;

}

input{
    display: inline-block;
    margin-left: 380px;
    text-align: center;
    width: 200px;
    height: 20px;
    border-color: rgb(199, 199, 199);
    background-color: whitesmoke;
    border-style:solid;
    border-radius: 5px;


}

menu{
    display: inline-block;
    margin-left: 150px;
    position: relative;
    top: 10px;

}
.heart{
    width: 25px;
    height: 25px;
    margin-left: 20px;

}

.compass{

    width: 25px;
    height: 25px;
    margin-left: 20px;

}

.home{
    width: 25px;
    height: 25px;
    margin-left: 20px;

}

.send{
    width: 25px;
    height: 25px;
    margin-left: 20px;

}

header{
    width: 900px;
    height: 200px;
    position: relative;
    left: 500px;

}

header img{
    width: 170px; 
    border-radius: 50%;
    position: relative;
    left: 25px;
    top: 20px;
}

.userInfo{
    display: inline-block;
    position: absolute;
    width: 600px;
    height: 200px;
    margin-left:  130px;
    top: 20px;
    font-size: 30px;
    

}
.userInfo p{
    display:inline-block ;
    margin-top: 0;
}
.userInfo button{
    position: relative;
    left: 20px;
    background-color: rgba(241, 241, 241, 0.911);
    border-style: ridge;
    border-radius: 5px;
    border-color: unset;
    width: 200px;
    height: 30px;
    
}

.settings{
    width: 20px;
    height: 20px;
    position: relative;
    margin-left: 25px;
    top: 5px;

}

.publications{
    display: inline-block;
    position: relative;
    top: 50px;
    right: 381px;
    font-size: 18px;
}

.subscribers{
    display: inline-block;
    position: relative;
    left: 200px;
    bottom: 13px;
    font-size: 18px;
}
.subscriptions{
    display: inline-block;
    position: relative;
    left: 250px;
    bottom: 13px;
    font-size: 18px;
}

header h2{
    display: inline-block;
    position: relative;
    right: 273px;
    top: 30px;
    
    font-size: 18px;
}

header h3{
    display: inline-block;
    position: relative;
    font-size: 18px;
    

}

.stories{
    position: relative;
    margin-top: 50px;
    left: 530px;
    width: 872px;
    height: 125px;
}

.stories li, .stories img{
    display: inline-block;
    position: relative;
    right: 60px;
    margin-top: 10px;
    margin-left: 30px;
    height: 80px;
    list-style: none;
    border-radius: 50%;
}
.stories span{
    position: relative;
    right: 100px;
    margin-left: 100px;
}

.line2{
    margin-top:  30px;
    width: 50%;
    opacity: 0.4;    
}

.foto{
    height: 8000px;
    width: 1000px;
    margin-left: 450px;
}
.foto img, .foto li{
    margin-left: 10px;
    display: inline-block;
    height: 297px;
    list-style: none;
    position: relative;
    right: 15px;

}



.actions{
    position: relative;
    left: 490px;
    height: 50px ;
    width: 900px;
    font-size: 13px;
}

.grid{
    position: relative;
    left: 250px;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    top: 15px;


}

.television{
    position: relative;
    left: 50px;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    top: 15px;


}


.PUBLICATIONS{
    position: relative;
    margin-left: 250px;
    top: 15px;

}
.IGTV{
    position: relative;
    margin-left: 50px;
    top: 15px;

}

.kontakt{
    position: relative;
    left: 50px;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    top: 15px;
}

.NOTES{
    position: relative;
    margin-left: 50px;
    top: 15px;

}

.bookmark{
    position: relative;
    left: 50px;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    top: 15px;
}

.SAVED{
    position: relative;
    margin-left: 50px;
    top: 15px;
}







